In [25]:
import pandas as pd
import os
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

In [26]:
#Import csv dari suatu folder
folder_path = 'D:/LOMBA/14. SSF/Database TV Shows'

In [27]:
#Load CSV file utama (shows.csv)
shows_df = pd.read_csv(os.path.join(folder_path, 'shows.csv'))

In [28]:
#Load CSV file yang memiliki relasi dengan 'shows.csv'
genres_df = pd.read_csv(os.path.join(folder_path, 'genres.csv'))
genre_types_df = pd.read_csv(os.path.join(folder_path, 'genre_types.csv'))
networks_df = pd.read_csv(os.path.join(folder_path, 'networks.csv'))
network_types_df = pd.read_csv(os.path.join(folder_path, 'network_types.csv'))
status_df = pd.read_csv(os.path.join(folder_path, 'status.csv'))
types_df = pd.read_csv(os.path.join(folder_path, 'types.csv'))
show_votes_df = pd.read_csv(os.path.join(folder_path, 'show_votes.csv'))
air_dates_df = pd.read_csv(os.path.join(folder_path, 'air_dates.csv'))
production_countries_df = pd.read_csv(os.path.join(folder_path, 'production_countries.csv'))
production_country_types_df = pd.read_csv(os.path.join(folder_path, 'production_country_types.csv'))
origin_country_types_df = pd.read_csv(os.path.join(folder_path, 'origin_country_types.csv'))

In [29]:
#Gabungkan genres dengan genre_types untuk mendapatkan nama genre
genres_combined_df = pd.merge(genres_df, genre_types_df, on='genre_type_id', how='left')

#Gabungkan shows dengan genres
shows_genres_df = pd.merge(shows_df, genres_combined_df, on='show_id', how='left')

In [30]:
#Gabungkan networks dengan network_types
networks_combined_df = pd.merge(networks_df, network_types_df, on='network_type_id', how='left')

#Gabungkan shows dengan networks
shows_networks_df = pd.merge(shows_genres_df, networks_combined_df, on='show_id', how='left')

In [31]:
#Gabungkan shows dengan status
shows_status_df = pd.merge(shows_networks_df, status_df, on='status_id', how='left')

In [32]:
#Gabungkan shows dengan types
shows_types_df = pd.merge(shows_status_df, types_df, on='type_id', how='left')

In [33]:
#Gabungkan production_countries dengan production_country_types
production_country_df = pd.merge(production_countries_df, production_country_types_df, on='production_country_type_id', how='left')

#Gabungkan production_country_df dengan origin_country_types
production_combined_df = pd.merge(production_country_df, origin_country_types_df, on='origin_country_type_id', how='left')

#Gabungkan shows dengan production country
shows_production_countries_df = pd.merge(shows_types_df, production_combined_df, on='show_id', how='left')

In [34]:
#Gabungkan shows dengan dates
shows_dates_df = pd.merge(shows_production_countries_df, air_dates_df, on='show_id', how='left')

In [35]:
#Gabungkan shows dengan show_votes
combined_df = pd.merge(shows_dates_df, show_votes_df, on='show_id', how='left')

# Preprocessing

In [36]:
combined_df.isnull().sum() #Menghitung jumlah nilai null di setiap kolom

show_id                            0
name                              10
number_of_seasons                  0
number_of_episodes                 0
overview                      183568
adult                              0
in_production                      0
original_name                     10
popularity                         0
tagline                       475902
eposide_run_time                   0
type_id                            0
status_id                          0
genre_type_id                 135450
genre_name                    135450
network_type_id               150816
network_name                  150816
status_name                        0
type_name                          0
production_country_type_id    201234
origin_country_type_id        201234
production_country_name       201234
origin_country_name           201234
is_first                           0
date                           74909
vote_count                         0
vote_average                       0
dtype: int64

In [37]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502106 entries, 0 to 502105
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   show_id                     502106 non-null  int64
 1   name                        502096 non-null  object
 2   number_of_seasons           502106 non-null  int64
 3   number_of_episodes          502106 non-null  int64
 4   overview                    318538 non-null  object
 5   adult                       502106 non-null  int64
 6   in_production               502106 non-null  int64
 7   original_name               502096 non-null  object
 8   popularity                  502106 non-null  float64
 9   tagline                     26204 non-null   object
 10  eposide_run_time            502106 non-null  int64
 11  type_id                     502106 non-null  int64
 12  status_id                   502106 non-null  int64
 13  genre_type_id               366656 non-null  float64
 14  genre_name                  366656 non-null  object
 15  network_type_id             351290 non-null  float64
 16  network_name                351290 non-null  object
 17  status_name                 502106 non-null  object
 18  type_name                   502106 non-null  object
 19  production_country_type_id  300872 non-null  float64
 20  origin_country_type_id      300872 non-null  float64
 21  production_country_name     300872 non-null  object
 22  origin_country_name         300872 non-null  object
 23  is_first                    502106 non-null  int64
 24  date                        427197 non-null  object
 25  vote_count                  502106 non-null  int64
 26  vote_average                502106 non-null  float64
dtypes: float64(6), int64(10), object(11)
memory usage: 107.3+ MB

In [38]:
combined_df = combined_df.drop(columns=['tagline'])

In [39]:
combined_df = combined_df.drop(columns=['overview'])

In [40]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502106 entries, 0 to 502105
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   show_id                     502106 non-null  int64
 1   name                        502096 non-null  object
 2   number_of_seasons           502106 non-null  int64
 3   number_of_episodes          502106 non-null  int64
 4   adult                       502106 non-null  int64
 5   in_production               502106 non-null  int64
 6   original_name               502096 non-null  object
 7   popularity                  502106 non-null  float64
 8   eposide_run_time            502106 non-null  int64
 9   type_id                     502106 non-null  int64
 10  status_id                   502106 non-null  int64
 11  genre_type_id               366656 non-null  float64
 12  genre_name                  366656 non-null  object
 13  network_type_id             351290 non-null  float64
 14  network_name                351290 non-null  object
 15  status_name                 502106 non-null  object
 16  type_name                   502106 non-null  object
 17  production_country_type_id  300872 non-null  float64
 18  origin_country_type_id      300872 non-null  float64
 19  production_country_name     300872 non-null  object
 20  origin_country_name         300872 non-null  object
 21  is_first                    502106 non-null  int64
 22  date                        427197 non-null  object
 23  vote_count                  502106 non-null  int64
 24  vote_average                502106 non-null  float64
dtypes: float64(6), int64(10), object(9)
memory usage: 99.6+ MB

In [41]:
combined_df.isnull().sum() #Menghitung jumlah nilai null di setiap kolom

show_id                            0
name                              10
number_of_seasons                  0
number_of_episodes                 0
adult                              0
in_production                      0
original_name                     10
popularity                         0
eposide_run_time                   0
type_id                            0
status_id                          0
genre_type_id                 135450
genre_name                    135450
network_type_id               150816
network_name                  150816
status_name                        0
type_name                          0
production_country_type_id    201234
origin_country_type_id        201234
production_country_name       201234
origin_country_name           201234
is_first                           0
date                           74909
vote_count                         0
vote_average                       0
dtype: int64

In [42]:
combined_df['network_name'].fillna('Unknown', inplace=True)

In [43]:
combined_df['genre_name'].fillna('Unknown', inplace=True)

In [44]:
combined_df = combined_df.dropna(subset=['name'])

In [45]:
combined_df.isnull().sum() #Menghitung jumlah nilai null di setiap kolom

show_id                            0
name                               0
number_of_seasons                  0
number_of_episodes                 0
adult                              0
in_production                      0
original_name                      0
popularity                         0
eposide_run_time                   0
type_id                            0
status_id                          0
genre_type_id                 135440
genre_name                         0
network_type_id               150806
network_name                       0
status_name                        0
type_name                          0
production_country_type_id    201224
origin_country_type_id        201224
production_country_name       201224
origin_country_name           201224
is_first                           0
date                           74907
vote_count                         0
vote_average                       0
dtype: int64

In [48]:
output_combined_csv_path = 'D:/LOMBA/14. SSF/New Data/New Data.csv'
combined_df.to_csv(output_combined_csv_path, index=False)

In [47]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502096 entries, 0 to 502105
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   show_id                     502096 non-null  int64
 1   name                        502096 non-null  object
 2   number_of_seasons           502096 non-null  int64
 3   number_of_episodes          502096 non-null  int64
 4   adult                       502096 non-null  int64
 5   in_production               502096 non-null  int64
 6   original_name               502096 non-null  object
 7   popularity                  502096 non-null  float64
 8   eposide_run_time            502096 non-null  int64
 9   type_id                     502096 non-null  int64
 10  status_id                   502096 non-null  int64
 11  genre_type_id               366656 non-null  float64
 12  genre_name                  502096 non-null  object
 13  network_type_id             351290 non-null  float64
 14  network_name                502096 non-null  object
 15  status_name                 502096 non-null  object
 16  type_name                   502096 non-null  object
 17  production_country_type_id  300872 non-null  float64
 18  origin_country_type_id      300872 non-null  float64
 19  production_country_name     300872 non-null  object
 20  origin_country_name         300872 non-null  object
 21  is_first                    502096 non-null  int64
 22  date                        427189 non-null  object
 23  vote_count                  502096 non-null  int64
 24  vote_average                502096 non-null  float64
dtypes: float64(6), int64(10), object(9)
memory usage: 99.6+ MB